<div> 
  <div> 
    <%= image_tag 'https://i0.wp.com/oabjaraguadosul.org.br/wp-content/uploads/2019/05/no-avatar-25359d55aa3c93ab3466622fd2ce712d1.jpg?fit=200%2C200&ssl=1', class: "avatar" %> 
    <div>
      <h3> <%= @user.full_name %></h3>
      <p> Loren </p>
      <%= link_to "Edit", edit_user_registration_path %>
    </div>
   </div> 
  <div> 
    <span class="user-following"> <%= @user.following.count %> seguindo</span>
    <span class="user-followers"> <%= @user.followers.count %> seguidores</span>
  </div>
</div>
<div> 
<%= link_to  "Meus interesses", "#" %>
<%= link_to  "Meus posts", "#" %>
<%= link_to  "Mensagens", "#" %>
<%= link_to  "Solicitações", "#" %>
<%= link_to  "Configurações", "#" %>
</div>
  
