<div class="page-container">
  <div class="nav">
    <p>MEU PERFIL</p>
  </div>
  <div class="container-col-center">
    <div class="white">
      <div class="container-center"> 
        <%= image_tag 'https://i0.wp.com/oabjaraguadosul.org.br/wp-content/uploads/2019/05/no-avatar-25359d55aa3c93ab3466622fd2ce712d1.jpg?fit=200%2C200&ssl=1', class: "avatar-red" %> 
        <div class="container-col">
          <h3 class="name"> <%= @user.full_name %></h3>
          <p class="desc"> Loren </p>
          <%= link_to "EDITAR", edit_user_registration_path, class:"link-gray" %>
        </div>
      </div> 
      <div class="container-around"> 
        <span class="follow"><em><%= @user.following.count %></em> seguindo</span>
        <span class="follow"><em><%= @user.followers.count %></em> seguidores</span>
      </div>
    </div>
    <div class="container-col-center"> 
      <%= link_to  "MEUS INTERESSES", "#", class:"btn-orange" %>
      <%= link_to  "MEUS POSTS", "#", class:"btn-orange" %>
      <%= link_to  "MENSAGENS", "#", class:"btn-orange" %>
      <%= link_to  "SOLICITAÇÕES", "#", class:"btn-orange" %>
      <%= link_to  "CONFIGURAÇÕES", "#", class:"btn-orange" %>
    </div>
  </div>
  <%= render 'shared/footer', page: "profile" %>
</div>
